<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"></meta>
    <title>STEP4</title>

    <!--Boot Strap-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->


    <!--Data Table-->
    <script src="/jquery-1.12.0/jquery1.12.0.min.js"></script>
    <link rel="stylesheet" href="/datatable/css/jquery.dataTables.min.css"></link>
    <script src="/datatable/js/jquery.dataTables.min.js"></script>
    <script src="/config/js/ip.js"></script>
    <script src="/datatable/js/data_table_app.js"></script>

</head>
<body>

<div class="container">
    <div class="table-responsive">
        <table id="example" class="table">
            <thead>
            <tr>
                <th>_id</th>
                <th>고시년도</th>
                <th>회차</th>
                <th>개최일자</th>
                <th>안건일련번호</th>
                <th>소관부서</th>
                <th>안건제목</th>
                <th>심의결과</th>
                <th>개요</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <!--<th>_id</th>-->
                <th>고시년도</th>
                <th>회차</th>
                <th>개최일자</th>
                <th>안건일련번호</th>
                <th>소관부서</th>
                <th>안건제목</th>
                <th>심의결과</th>
                <th>개요</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

</body>

</html>

